<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"routerLink="/dashBoard">Library Management System</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/dashBoard">Home</a></li>
      <li><a routerLink="/books">Books</a></li>
      <li><a routerLink="/members">Members</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>

  <div class="w3-sidebar w3-light-gray w3-bar-block" style="width:18%">
    <a (click)="foreReqClick()"  class="w3-bar-item w3-button active">Foreign Member Requests</a>
    <a  (click)="allLocalMemebrsClick()" class="w3-bar-item w3-button">All Memebers</a>
  </div>
</nav>


<div class="container" style="padding-left: 13%">
  <div class="col-lg-12" style="text-align: center" *ngIf="foreReq">

    <h2><b>Foreign Memeber Requests</b></h2>


  </div>

  <div class="col-lg-12" *ngIf="foreReq">
    <br>    <br><br>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>NIC</th>
        <th>Country</th>
        <th>Address</th>
        <th>Telephone</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody *ngFor="let member of foreignRequests">
      <tr>
        <td>{{member.fullname}}</td>
        <td>{{member.email}}</td>
        <td>{{member.gender}}</td>
        <td>{{member.dob}}</td>
        <td>{{member.nic}}</td>
        <td>{{member.country}}</td>
        <td>{{member.address}}</td>
        <td>{{member.telphone}}</td>
        <td><button class="btn btn-success" (click)="approveMemebr(member.nic)">Approve</button></td>
        <td><button class="btn btn-danger">Delete</button></td>

      </tr>


      </tbody>
    </table>
  </div>

  <div class="col-lg-12" style="text-align: center" *ngIf="allLocalMemebrs">

    <h2><b>All Local Member</b></h2>


  </div>

  <div class="col-lg-12" *ngIf="allLocalMemebrs">
    <br>    <br><br>
    <!--<table class="table table-hover">-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<th>Full Name</th>-->
        <!--<th>Email</th>-->
        <!--<th>Gender</th>-->
        <!--<th>Date of Birth</th>-->
        <!--<th>NIC</th>-->
        <!--<th>Country</th>-->
        <!--<th>Address</th>-->
        <!--<th>Telephone</th>-->
        <!--<th></th>-->
        <!--<th></th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody *ngFor="let member of foreignRequests">-->
      <!--<tr>-->
        <!--<td>{{member.fullname}}</td>-->
        <!--<td>{{member.email}}</td>-->
        <!--<td>{{member.gender}}</td>-->
        <!--<td>{{member.dob}}</td>-->
        <!--<td>{{member.nic}}</td>-->
        <!--<td>{{member.country}}</td>-->
        <!--<td>{{member.address}}</td>-->
        <!--<td>{{member.telphone}}</td>-->
        <!--<td><button class="btn btn-success" (click)="approveMemebr(member.nic)">Approve</button></td>-->
        <!--<td><button class="btn btn-danger">Delete</button></td>-->

      <!--</tr>-->


      <!--</tbody>-->
    <!--</table>-->
  </div>

</div>
